{% extends "base.html" %}

{% block title %}Справка{% endblock %}

{% block content %}
<div class="container mb-3">
    <p>Данная программа является словарём русского языка. Реализована на языке Python с использованием библиотек Flask, Jinja, nltk, pymorphy3 и sqlite3.</p>
    <p><strong>Функции:</strong></p>
    <ul>
        <li>добавление (<i class="bi bi-plus"></i>) и удаление (<i class="bi bi-trash"></i>) слов вручную;</li>
        <li>импорт слов из файлов .txt/.rtf (реализовано с помощью nltk и pymorphy3);</li>
        <li>очистка словаря;</li>
        <li>автоматическое определение основы и окончания слова (реализовано путём отправления запроса на sinonim.org/mo);</li>
        <li>возможность редактирования (<i class="bi bi-pencil"></i>) столбцов основы и окончания для слов вручную;</li>
        <li>построение словоформ для существительных, прилагательных и глаголов (pymorphy3);</li>
        <li>экспорт словаря в файл .txt.</li>
    </ul>
</div>
{% endblock %}